<% if @list_user.present? && !@list_user.blank? %>
  <h3>Listing Users</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @list_user.each do |card| %>
        <tr>  
          <td><%= card.fname %></td>
          <td><%= card.lname %></td>
          <td><%= card.email %></td>
          <td>
          <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      dashboards_path(card),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>