<div class="headerSec">
	Welcome Anupriya
</div>
<div class="search_box">
	<div class="ui-widget">
		<p>
			<label for="Employee_Search" class="labelName">Employee_Search</label>
			<input type="text" name="search" id="search_user_email" autocomplete="off" class="email ui-autocomplete-input">
        	<input type="hidden" name="user_emails" id="selected_emails" value=''/>
    		<input id="add_user" type="submit" value="Add">
    		<span id="search_usr_error" style="display:none;"></span>
 		</p>
	</div>
	<div class="user_list">

	</div>
	<div class="theme_list">
        <label><input type="radio" name="themes" value="theme1"> Theme1</label><br><br>
        <label><input type="radio" name="themes" value="theme2"> Theme2</label><br><br>
        <label><input type="radio" name="themes" value="theme3"> Theme3</label><br>
    </div>
    <div class="theme_layout">
    	<div class="theme1 box">
    		<%= image_tag "thank.jpg", alt: "Theme1", width:"150", height: "150"%>
    		Thank You for your support on fixing the Code Issue.</div>
    	<div class="theme2 box">
    		<%= image_tag "thanks.jpg", alt: "Theme2", width:"150", height: "150"%>
    		Thank You for your support on fixing the Code Issue.</div>
    	<div class="theme3 box">
    		<%= image_tag "thank-you.jpg", alt: "Theme3" , width:"150", height: "150"%>
    		Thank You for your support on fixing the Code Issue.</div>
    </div>
</div>
<br><br>
<div class="form-submit">
	<input type="submit" value="Thanks A Bunch" class="thanks-a-bunch">
	<input type="reset" value="Reset" class="reset">
	<input type="button" value="Back" onclick="history.back();"> 
</div>
<script type="text/javascript">
	/*autocomplete search for email*/
    jQuery('.email').autocomplete({
	    autoFocus: true,
	    source: "/dashboards/get_user_emails",
	    messages: {
	        noResults: '',
	        results: function() {}
	    },
	    minLength: 1,
	    focus: function (event, ui) {
	        jQuery(event).val(ui.item.label);
	    },
	    select: function (event, ui) {
	        jQuery(event).val(ui.item.label);
	    }
	});
	/*Add multiple users from search result*/
	jQuery("#add_user").click(function(){
		/*check if email is empty*/
		var errorFlag = false;  
		email = jQuery("#search_user_email");
  		var emailRegEx = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
		if (email.val()==null || email.val().trim()=="") {
        $("#search_user_email").css("border","1px solid #fc8989");
        $("#search_usr_error").html("Email is mandatory");
        $("#search_usr_error").css("display","block");
        errorFlag = true;
    	}
    	else if (!(email.val().match(emailRegEx))){
		$("#search_user_email").css("border","1px solid #fc8989");
		$("#search_usr_error").html("Email is invalid");
    	$("#search_usr_error").css("display","block");
		errorFlag = true;
		} else {
		$("#search_usr_error").css("display","none");
		$("#search_user_email").css("border","1px solid");
		}
		/* Added users email listing */
        var email = jQuery("#search_user_email").val();
        var selected_users = jQuery("#selected_emails").val();
        var selected_emails = [];
        if(selected_users == ""){
            selected_emails.push(email);
            jQuery("#selected_emails").val(selected_emails);
        }else{
            selected_emails.push(selected_users);
            selected_emails.push(email);
            jQuery("#selected_emails").val(selected_emails);
        }
        var final_users =jQuery("#selected_emails").val();
        jQuery.ajax(
            {
                url : "/dashboards/fetch_user_detail",
                type: "GET",
                data : {search: final_users} ,
                dataType: "script",
                success:function(data){}
            });
	});
	/*Delete selected user functionality */
	function remove_user(remove_email, id){
	    jQuery("#delete_"+id).closest('tr').remove();
	    var selected_users = jQuery("#selected_emails").val();
	    var email_array = selected_users.split(",")
	    var index = jQuery.inArray(remove_email, email_array);
	    if (index > -1) { email_array.splice(index, 1);}
	    jQuery("#selected_emails").val(email_array.join(","));
  	}
  	/*theme selection*/
	jQuery('input[type="radio"]').click(function(){
	    if(jQuery(this).attr("value")=="theme1"){
	        jQuery(".box").hide();
	        jQuery(".theme1").show();
	    }
	    if(jQuery(this).attr("value")=="theme2"){
	        jQuery(".box").hide();
	        jQuery(".theme2").show();
	    }
	    if(jQuery(this).attr("value")=="theme3"){
	        jQuery(".box").hide();
	        jQuery(".theme3").show();
	    }
	});
	/* Reset functionality */
	jQuery( ".reset" ).click(function() {
  		jQuery('#search_user_email').val('');
  		jQuery('.user_list').html('');
  		jQuery('input:radio[name=themes]').attr('checked', false);
  		jQuery('.theme1,.theme2,.theme3').html('');
  		jQuery(".box").css("display","none");
	});
	/* Mail functionality */
	jQuery(".thanks-a-bunch").click(function(){
		var selected_emails = jQuery("#selected_emails").val();
		var theme_id = jQuery("input[name='themes']:checked").val();
		console.log(selected_emails);
		console.log(theme_id);
	    jQuery.ajax(
        {
            url : "/dashboards/user_detail",
            type: "GET",
            data : {email: selected_emails, theme: theme_id} ,
            dataType: "script",
            success:function(data){}
        });
	});
</script>


