<style>
.headerSec{
	padding: 5px 5px;
	border: 1px solid;
}
.search_box{
	padding: 15px 15px;
	border: 1px solid;
	margin-top: 12px;
	height: auto;
}
.search_name{
	border: 1px solid grey;
	width: 220px;
}
.user_list{
	border: 1px solid;
	height:	200px;
	overflow:auto;
}
</style>
<div class="headerSec">
	Welcome Anupriya
</div>
<div class="search_box">
	<div class="ui-widget">
		<p>
			<label for="Employee_Search" class="labelName">Employee_Search</label>
			<input type="text" name="search" id="search_user_email" autocomplete="off" class="email ui-autocomplete-input"><br>
	        <input type="hidden" name="user_emails" id="selected_emails" value=''/>
    		<input id="add_user" type="submit" value="Add">
 		</p>
	</div>
	<div class="user_list">


	</div>
</div>
<script type="text/javascript">
	/*email autocomplete search*/
    $('.email').autocomplete({
	    autoFocus: true,
	    source: "/dashboards/get_user_emails",
	    messages: {
	        noResults: '',
	        results: function() {}
	    },
	    minLength: 1,
	    focus: function (event, ui) {
	        $(event).val(ui.item.label);
	    },
	    select: function (event, ui) {
	        $(event).val(ui.item.label);
	    }
	});
	/*Adding muliple values*/
	$("#add_user").click(function(){
        var email = jQuery("#search_user_email").val();
        var selected_users = jQuery("#selected_emails").val();
        var selected_emails = [];
        if(selected_users == ""){
            selected_emails.push(email);
            jQuery("#selected_emails").val(selected_emails);
        }else{
            selected_emails.push(selected_users);
            selected_emails.push(email);
            jQuery("#selected_emails").val(selected_emails);
        }
        var final_users =jQuery("#selected_emails").val();
        $.ajax(
            {
                url : "/dashboards/fetch_user_detail",
                type: "GET",
                data : {search: final_users} ,
                dataType: "script",
                success:function(data){}
            });
		});
		$.ajax({
			url: "/destroy",
			type: 'DELETE',
			success: function(result) {
			// Do something with the result
			}
		});
</script>


